@use '../../styles/variables' as var;

.sp_ad_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 50em;
  color: var.$text_color;

  .ad_top_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      border-radius: 50%;
      width: 3em;
    }
  }
  .category {
    align-self: end;
  }

  .text_content_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    width: 80%;
    button {
      background-color: var.$secondary;
    }
  }
  .ad_prices {
    display: flex;
    flex-direction: column;
    max-width: 8em;
    .prices_header {
      font-weight: bold;
      text-decoration: underline;
    }
    div {
      display: flex;
      justify-content: space-between;
    }
  }
  .img_targeted_ad {
    // max-width: 60%;
    max-height: 10em;
    /*     max-width: 950px;
    height: auto;
    max-height: 450px; */
  }
}
