@use './variables' as var;

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var.$primary;
  color: var.$white;
  padding: 1em;
}
